/* shared styles  */

* {
    font-family: 'Work Sans', sans-serif;
}

.text-light-gray {
    color: #646363;

}




header {
    background: rgba(255, 144, 14, 0.10);
    padding: 50px 240px;
}

.btn-primery {
    border-radius: 8px;
    background: #FF900E;
    padding: 20px 25px;
    border: none;
    color: #FFF;
    font-size: 1.25rem;
    font-weight: 600;
    cursor: pointer;
}

.section-title {
    color: #131313;
    font-size: 2.9rem;
    font-weight: 700;
}

/* header styles */

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}



nav>ul {
    display: flex;
}

nav li {
    list-style: none;
    margin-right: 30px;

    text-align: center;
    font-size: 1.3rem;
    font-weight: 500;

}

nav li a {
    text-decoration: none;
    color: #424242;
}

/* bannar style */
.bannar-content {
    max-width: 800px;
    text-align: center;
    margin: 0 auto;
}

.bannar-title {
    color: #131313;
    font-size: 4rem;
    font-weight: 700;
}



.bannar img {
    margin-top: 20px;
    width: 100%;
}

/* main styles */
main {
    max-width: 1440px;
    margin: 0 auto;
}

/* teams styles */
.teams-contenar {
    display: flex;
    align-items: center;
    margin-top: 85px;
}

.teams-img-contaner {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;
}

.teams-content {
    padding-right: 70px;
    padding-left: 70px;
}

.teams-title {
    font-size: 3.0rem;
}

.quick-list {

    font-size: 3.0rem;
    font-weight: 500;
}

.of-our {
    color: #131313;
    font-size: 3.0rem;
    font-weight: 700;
}

.features {
    color: #FF900E;
    font-size: 3.0rem;
    font-weight: 700;
}

#bannar-discription {
    margin-bottom: 32px;
}

/* facts section  */

.facts-card-containar {
    display: flex;
    justify-content: space-around;
}

.facts-card-containar .card {
    border-radius: 8px;
    border: 1px solid #FF900E;
    text-align: center;
    padding: 30px;
}

.card-title{
    font-weight: 600;
    font-size: 1.25rem;
    margin-top: 5px;
}

.card-stats {
    font-size: 2.8rem;
    color: #424242;
    font-weight: 600;
    margin-top: 10px;
    margin-bottom: 10px;
}

/* sopnsores style */
.sponsoros{
    text-align: center
}

.sponsoros-img-container{
    margin-top: 50px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 40px;
}
.sponsoros-img-container img{
    width: 165px;
}








/* responsive styles */

/* mobile devices  */
@media screen and (max-width: 576px) {
    header {
        padding: 20px;
    }

    nav,
    .teams-contenar,
    .facts-card-containar,
    .sponsoros-img-container {
        flex-direction: column;
    }
   

    .teams-img-contaner {
        grid-template-columns: 1fr;
    }

    .teams-content,
    .facts-card-containar  {
        padding-right: 20px;
        padding-left: 20px;

    }
    .facts-card-containar {
        gap: 20px;
    }


}

/* tablet devices or medium devices */

@media screen and (min-width : 576px) and (max-width: 960px) {
    header {
        padding: 50px;
    }


    nav,
    .teams-contenar,
    .sponsoros-img-container{
        flex-direction: column;
    }

}